In [9]:
from pandas_datareader import data
import datetime

In [11]:
start=datetime.datetime(2020,3,1)
end=datetime.datetime(2020,3,31)

df=data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-02,301.440002,277.720001,282.279999,298.809998,85349300,298.809998
2020-03-03,304.000000,285.799988,303.670013,289.320007,79868900,289.320007
2020-03-04,303.399994,293.130005,296.440002,302.739990,54794600,302.739990
2020-03-05,299.549988,291.410004,295.519989,292.920013,46893200,292.920013
2020-03-06,290.820007,281.230011,282.000000,289.029999,56544200,289.029999
2020-03-09,278.089996,263.000000,263.750000,266.170013,71686200,266.170013
2020-03-10,286.440002,269.369995,277.140015,285.339996,71322500,285.339996
2020-03-11,281.220001,271.859985,277.390015,275.429993,63899700,275.429993
2020-03-12,270.000000,248.000000,255.940002,248.229996,104618500,248.229996
2020-03-13,279.920013,252.949997,264.890015,277.970001,92683000,277.970001
2020-03-16,259.079987,240.000000,241.949997,242.210007,80605900,242.210007
2020-03-17,257.609985,238.399994,247.509995,252.860001,81014000,252.860001
2020-03-18,250.000000,237.119995,239.770004,246.669998,75058400,246.669998
2020-03-19,252.839996,242.610001,247.389999,244.779999,67964300,244.779999
2020-03-20,251.830002,228.000000,247.179993,229.240005,100423300,229.240005
2020-03-23,228.500000,212.610001,228.080002,224.369995,84188200,224.369995
2020-03-24,247.690002,234.300003,236.360001,246.880005,71882800,246.880005
2020-03-25,258.250000,244.300003,250.750000,245.520004,75900500,245.520004
2020-03-26,258.679993,246.360001,246.520004,258.440002,63021800,258.440002
2020-03-27,255.869995,247.050003,252.750000,247.740005,51054200,247.740005
2020-03-30,255.520004,249.399994,250.740005,254.809998,41994100,254.809998
2020-03-31,262.489990,252.000000,255.600006,254.289993,49250500,254.289993