In [1]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file 

start=datetime.datetime(2020,3,1)
end=datetime.datetime(2020,3,10)

df=data.DataReader(name="GOOG",data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-03-02,1390.869995,1326.814941,1351.609985,1389.109985,2431500,1389.109985
2020-03-03,1410.150024,1332.000000,1399.420044,1341.390015,2402300,1341.390015
2020-03-04,1388.089966,1343.109985,1359.229980,1386.520020,1913300,1386.520020
2020-03-05,1358.910034,1305.099976,1350.199951,1319.040039,2561300,1319.040039
2020-03-06,1306.219971,1261.050049,1277.060059,1298.410034,2660600,1298.410034
2020-03-09,1254.760010,1200.000000,1205.300049,1215.560059,3365400,1215.560059
2020-03-10,1281.150024,1218.770020,1260.000000,1280.390015,2611400,1280.390015

In [2]:
def inc_dec(c, o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
    return value

df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close,df.Open)]

df["Middle"]=(df.Open+df.Close)/2
df["Height"]=abs(df.Close-df.Open)

In [20]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2020-03-02,1390.869995,1326.814941,1351.609985,1389.109985,2431500,1389.109985,Increase,1370.359985,37.500000
2020-03-03,1410.150024,1332.000000,1399.420044,1341.390015,2402300,1341.390015,Decrease,1370.405029,58.030029
2020-03-04,1388.089966,1343.109985,1359.229980,1386.520020,1913300,1386.520020,Increase,1372.875000,27.290039
2020-03-05,1358.910034,1305.099976,1350.199951,1319.040039,2561300,1319.040039,Decrease,1334.619995,31.159912
2020-03-06,1306.219971,1261.050049,1277.060059,1298.410034,2660600,1298.410034,Increase,1287.735046,21.349976
2020-03-09,1254.760010,1200.000000,1205.300049,1215.560059,3365400,1215.560059,Increase,1210.430054,10.260010
2020-03-10,1281.150024,1218.770020,1260.000000,1280.390015,2611400,1280.390015,Increase,1270.195007,20.390015

In [9]:
p=figure(x_axis_type='datetime', width=1000, height=300)
p.title.text="Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Black")

p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"], hours_12,df.Height[df.Status=="Increase"],
       fill_color="green",line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"], hours_12, df.Height[df.Status=="Decrease"],
       fill_color="red",line_color="black")



output_file("CS.html")
show(p)